
* {
    box-sizing: border-box;
}

body {

    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;  
    padding: 0;
    margin: 0;
    background-color:#f2f2f2;


}

header {
    background-color: #11101D;
    padding: 0;
    margin: 0;
    height : 70px;
   
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top:0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color:#C4942F;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 35px;
    right: 260px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

#head{
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#logo {
    position: absolute;
    right:30px;
    top:40px ;
    width:200px;
}

.first{
    color: #787878;
    display: block;
    position: absolute;
    right:30px;
    top:200px;
    
}

.linepage1 {
    color: #787878;
    position: absolute;
    width: 200px;
    right:30px;
    top:250px;
}


.home{
    position: absolute;
    top:305px;
    right:10px;
}

#home{
    position: absolute;
    right:50px;
    width:150px;
    top:300px;
}


#settings{
    position: absolute;
    right:50px;
    top:350px;
    width:130px;
    height:40px;
    text-align: right;

}

#packets{
  position: absolute;
  right:10px;
  top:395px;
  font-size: 16px;
  width:150px;

  
}


.personal{
    position: absolute;
    right:10px;
    top:455px;
    
}

#personal{
    position: absolute;
    right:50px;
    top:450px;
    width:150px;

}

#settings11{
  position: absolute;
  right:10px;
  top:505px;
  transition:none;

}


#settings1{
  position: absolute;
  right:50px;
  top:500px;
  width:150px;
  transition:none;


}




#logoutimg{
    position: absolute;
    right:10px;
    top:555px;
    transition:none;
}

#logout{
    position: absolute;
    right:50px;

    top:553px;
    width:150px;
    transition:none;

}

article {
    float: left;
    padding: 20px;
    width: 100%;
    height: 100%;

}

  /* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;

}

.systems{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;  
    color: #244871;  
}

    #adress {
    position:relative;
    top:10px;
    right:7%;
    font-size: 20px;
    }

    #adress1{
        position:relative; 
        top:40px; 
        font-size:20px; 
        right:7%;
    }

    .graphAdress {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    top:15px;
    color: #FFFFFF;

    }

    .graphAdress p{
    position: relative;
    bottom : 8px;
    }

    .graphChart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative; 
    top:20px;
    right:-1%;
    

    }


    #guias {
        display: none;
      }
    #notificationIcon{
        display: none;
        z-index: 2;
        list-style-type: none;
    }

      .li1{
        position: relative;
        right:75px;
        top: 460px;
        list-style-type: none;
        color: #C4942F;

      }
 

      .arrow{
        position: absolute;
        top:8px;
        right:-15px;
        padding: 0;
        margin: 0;
        color:#C4942F;

      }

   

      .vl {
        position: absolute;
        top:475px;
        right:60px;
        border-left: 1px solid #C4942F;
        height: 85px;
      }



      #test{
        width:20px;
        height:20px;
      }



      
 
    
      .content{

        padding-top: 20px;
        height:100%;
        width:96% ;

    }
    
    .content h2 {
        text-align: right;
    }


    .projects .responsive-table{
    
        overflow-x: auto ;
        margin-top: 15px;
        height:250px ;
        margin-left: 30px;;
    }
    
    .projects table{
        direction: rtl;
        min-width: 800px;
        border-spacing: none;
        color: #6A6A6A ;
        
     
    }
    
    .projects thead td{
        background-color: #eee;
        font-weight: bold;
        border-bottom: 1px solid gray;

    }
    
    .projects table td{
        padding : 10px;
        background-color: #FFFFFF;


    }

     tr{
      height: 10px;
    }

    
    .projects tbody td{
        transition: 0.3s;
        background: #FFFFFF;
        border:hidden ;

    }
    
    .projects table img{
        width: 30px;
        height : 30px ;
        border-radius: 50%;
        padding :3px ;
        background-color:white ;
    
    }

    
    .projects table img:not(:first-child) {
        margin-right : -17px;

    }
    
    .projects table tbody tr td:last-child {
        border-right: 1px solid #eee;

    }
    
    .projects tbody tr:hover td{
        background-color :#faf7f7;
    }
   

      .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #860000;
        text-align: center;
        margin-top: 5px;
        color: white;
        font-size: 10px;
        line-height: 18px;
        cursor: pointer;
      }

      .notifi-box {
        z-index: 2;
        width: 200px;
        height: 0px;
        position: absolute;
        top: 70px;
        left: 5%;
        background-color: rgba(0, 0, 0, 0.9);
        transition:250ms height;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
    }

    .notifi-item {
        display: flex;
        border-bottom: 1px solid #eee;
        width:100%;
        cursor: pointer;


    }
    .notifi-item:hover {
        background-color: #eee;
    }

    .notifi-item .text h4 {
        color: #777;
        font-size: 16px;
        padding-left: 20px;
    }


    
.glow {
  font-size: 60px;
  color: rgb(33, 240, 33);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  position: relative;
  top:-5px;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green;
  }
  
  to {
    text-shadow: 0 0 20px green, 0 0 30px #90ee90, 0 0 40px #90ee90, 0 0 50px #90ee90, 0 0 60px #90ee90, 0 0 70px #90ee90 , 0 0 80px #90ee90;
  }
}


.glow2 {
  font-size: 60px;
  color: red;
  text-align: center;
  animation: glow2 1s ease-in-out infinite alternate;
  position: relative;
  top:-5px;
}

@-webkit-keyframes glow2 {
  from {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }
  
  to {
    text-shadow: 0 0 20px red, 0 0 30px #fa8072, 0 0 40px #fa8072, 0 0 50px #fa8072, 0 0 60px #fa8072, 0 0 70px #fa8072 , 0 0 80px #fa8072;
  }
}


.glow3 {
  font-size: 60px;
  color: gray;
  text-align: center;
  animation: glow3 1s ease-in-out infinite alternate;
  position: relative;
  top:-5px;
}

@-webkit-keyframes glow3 {
  from {
    text-shadow: 0 0 10px gray, 0 0 20px gray, 0 0 30px gray, 0 0 40px gray, 0 0 50px gray, 0 0 60px gray, 0 0 70px gray;
  }
  
  to {
    text-shadow: 0 0 20px gray, 0 0 30px #191919 , 0 0 40px #585555 , 0 0 50px #444444 , 0 0 60px #201f1f , 0 0 70px #555252  , 0 0 80px #595959 ;
  }
}



.glow1 {
  font-size: 60px;
  color: #ffa500;
  text-align: center;
  animation: glow1 1s ease-in-out infinite alternate;
  position: relative;
  top:-5px;
}

@-webkit-keyframes glow1 {
  from {
    text-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 30px #ffa500, 0 0 40px #ffa500, 0 0 50px #ffa500, 0 0 60px #ffa500, 0 0 70px #ffa500;
  }
  
  to {
    text-shadow: 0 0 20px #ffa500, 0 0 30px #ffa700, 0 0 40px #ffa700, 0 0 50px #ffa700, 0 0 60px #ffa700, 0 0 70px #ffa700 , 0 0 80px #ffa700;
  }
}


    /* start of page2 styling */

.bills{
    color: #C4942F;
}

 .billssearch{
    width:100%;
    height: 50px;
    border-radius: 40px;
    background-color: #05445E;
    direction: rtl;
    color :#FFFFFF;
    text-align: center;


}


#searchicon  {
    color: white;
    position: relative;
    top:-35px;
    right:40px;
    font-size: 20px;   
    cursor:pointer;
}

#downicon{
    color: rgba(196, 148, 47, 1);
    position: relative;
    top:-55px;
    right:95%;
    font-size: 25px;   
    cursor:pointer;
}


.list-box{
    z-index: 2;
    background-color: rgba(182, 177, 177, 0.49);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top:-40px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: none;
}

.list-item{
    cursor: pointer;
    border: 1px solid  rgb(38, 37, 39);
    width:300px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.list-item .text1 h4 {
    color: #777;
    font-size: 16px;
}


.billsList{
    float: right;
    color:rgba(105, 104, 104, 0.697);
    width: 100px;
}
.billsAdd{
    background-color: #C4942F;
    height: 40px;
    width:120px;
    padding-top: 13px;
    padding-right: 45px;
    border-radius: 26px;
    color: #05445E;
}
.billsTable{
    direction: rtl;
    width:100%;
    height: auto;
    border:1px solid rgba(5, 68, 94, 1);
    border-radius: 17px;
    padding:20px;

}

.billsTable th, td {
    padding: 8px;
  }

.billsTable tr:nth-child(even){background-color: #b8b6b6a3}



    /* end of page 2. styling */

    /* start of styling 3th page */

    #boxes{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap:wrap;
        justify-content: space-around;
        color:white;
    }

    .boxesdiv{
        width:220px;
        height: 100px;
        background-color: #05445E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;

    }

    .yellowbox{
        position: relative;
        left: 87%;
        bottom:80%;
        background-color: #C4942F;
        width:50px;
        height: 50px;       
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

    }

    .boxtitle{

        margin-right: 40px;
        margin-top: 20px;
        font-size: 13px;

    }

    .boxvalue{

        margin-right: 40px;
        margin-top: -5px;
        font-size: 20px;
    }

    .boxamount{

        margin-right: 50px;
        margin-top: -10px;
        font-size: 10px;

    }

    .tl{

        font-size: 30px;
        float:left;
        position: relative;
        top:-120px;
        right:-15px ;
    }

    #icondown{
        color:#5a5959;
        margin-right: 50px;
        margin-top: 30px;
        cursor: pointer;
    }

    .piecharts{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .chart1{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;

        width:35%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin-top: 30px;
        height: 300px;
    }

    .chartexp{
        width:50%;

    }

    .chartdiv{
        width:50%;
    }


    .profits{
        padding: 20px;
        color:#696969;
        font-size:30px ;
        width:100%;
    }

    
    .packetsprofit{
        color:#696969;
        font-size:10px;
        padding-right: 20px;

    }

    .profitsv{
        margin-right: 30px;
    }

    .chart2{
        width:60%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin-top: 30px;

    }



    .chartdiv1 canvas{
        position: relative;
        top:-50px;
        padding: 40px;

    }

    .chart2title{

        color: #05445E;
        font-size: 20px;
        padding: 10px;
    }

    .chart2data{
    position: relative;
    right:70%;
    bottom:51.5px;
    }

    .chart2data1{
    position: relative;
    right:80%;
    bottom:85px;
    }

    /* start styling of the 4th page */

    .mainlists{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        padding-top: 30px;
    }

    .employeelist{
        
        width: 20%;
        padding: 10PX;
        margin-right: 30px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 20px 20px;



    }
    .employeelist h2{
        position: relative;
        top:-39px;
        right:25px;
        padding: 20px;
        color: white;
        width:118%;
        height:60px;
        background: #05445E;
        border-radius: 20px;

    }

    .employeeinfo{

        width:70%;
        margin-right: 80px;
        background: #FFFFFF;
        box-shadow: 2px 2px 10px 4px rgba(5, 68, 94, 0.4);
        border-radius: 15px;

    }

    .employeename{
        background-color: #05445E ;
        width: 90%;
        height: 60px;
        position: relative;
        top:-10px;
        margin-left:5%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: #ACACAC;
        font-size: 20px;

    }

    #employeeinfo1{
      position: relative;
      top:-17px;
    }

    #employeeinfo2{
      position: relative;
      top:-17px;
    }

    #employeeinfo3{
      position: relative;
      top:-17px;
    }

    #employeeinfo4{
      position: relative;
      top:-17px;
    }

    #employeeinfo5{
      position: relative;
      top:-17px;
    }

    .employeename p{
        padding:20px;
        margin-right: 40px;
        display: none;

    }


    .searechemployee{
        height: 210px;
    }

    #myInput {
        position: relative;
        top:-40px;
        box-sizing: border-box;
        color: #979797 ;
        width: 80%;
        margin-right: 20px;
        font-size: 12px;
        padding: 5px 5px 5px 20px;
        margin-bottom: 12px;
        text-align: right;
        background: #FFFFFF;
        border-right: 0.1px solid #000000;
      }
      #myUL {
        position: relative;
        top:-40px;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      #myUL li a {
        background-color: #FFFFFF;
        margin-top: -1px; /* Prevent double borders */
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
      }
      
      #myUL li a:hover:not(.header) {
        background-color: #eee;
      }


      .responsivetable table{
        margin-top: 20px;
        direction: rtl;
        margin-left: 10%;;
        color: #969696;
        font-size: 20px;
        width:80%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;


    }

      /* on of css */
      .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #CCCCCC;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 0.1px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #C4942F;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

      /* on  */

      .blokkingbox{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin:5%;
        height: auto;
    
    }

    .accounts{
        width:30%;
    }

    .accountdiv{
        width:30%;
        margin-right: 30px;
        color:#979797 ;
    }




    

    /* multiselect  */


    .mult-select-tag{
        display:flex;
        width:100%;
        flex-direction:column;
        align-items:center;
        position:relative;
        --tw-shadow:0 1px 3px 0 rgb(0 0 0 / 0.1),0 1px 2px -1px rgb(0 0 0 / 0.1);--tw-shadow-color:0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
        font-family:Verdana,sans-serif ;

      }
      
    
      .mult-select-tag .wrapper{
      width: 100%;

      
      }
      
      .mult-select-tag .body{
        display:flex;
        background:#fff;
        min-height:2.15rem;
        margin-right: 15px;
        border:1px solid #F1B31C ;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

      }
    
      
      .mult-select-tag .input-container{
        
        display:flex;
        flex-direction: row-reverse;
        flex-wrap:wrap;
        flex:1 1 auto;
        padding:.1rem;
     




    }
      
      .mult-select-tag .input-body{
        display:flex;
        padding: 0;
        margin: 0;
        height: 40px;
        width: 100%;

      }
      
      .mult-select-tag .input{
        flex:1;
        background:0 0;
        border-radius:.25rem;
        padding:.45rem;
        margin:5px;
        color:#2d3748;
        outline:0;
        border:1px solid var(--border-color);
        text-align: right;
        width:100%;




      }
      
      .mult-select-tag .btn-container{
        color:#e2ebf0;
        padding:.5rem;
        display:flex;
        border-left:1px solid var(--border-color);
       
    
    }
      
      .mult-select-tag button{
        cursor:pointer;
        width:100%;
        color:#718096;
        outline:0;
        height:100%;
        border:none;
        padding:0;
        background:0 0;
        background-image:none;
        --webkit-appearance:none;
        text-transform:none;
        margin:0
      }
      
      .mult-select-tag button:first-child{width:1rem;height:90%}
      
      .mult-select-tag .drawer{
        background:#fff;
        width: 95%;
        max-height:15rem;
        border-radius:.25rem;
        margin-right: 15px;



      }
      
      .mult-select-tag ul{

        list-style-type:none;
        position: relative;
        right:15%;
        width: 115%;

      }
      
      
      .mult-select-tag ul li{

        padding:.5rem;
        cursor:pointer;
        position: relative;
        top:-15px;
        border:1px solid #BABABA;

    
    }
      
      .mult-select-tag ul li:hover{background:rgb(243 244 246)}
      
      .mult-select-tag .item-container{
        display:flex;
        flex-direction: row-reverse;
        justify-content:center;
        align-items:center;
        color:#676767;
        padding:.2rem .4rem;
        margin:.2rem;
        font-weight:500;
        border:1px solid ;
        border-radius:8px;
        
      }
      
      .mult-select-tag .item-label{
        max-width:100%;
        line-height:1;
        font-size:.75rem;
        font-weight:400;
        flex:0 1 auto;
        color:#676767;
      }
      
      .mult-select-tag .item-close-container{
        display:flex;
        flex:1 1 auto;
        flex-direction:row-reverse;
      }
      
      .mult-select-tag .item-close-svg{
        width:1rem;
        margin-left:.5rem;
        height:1rem;
        cursor:pointer;
        border-radius:9999px;
        display:block;
      }
      
      .hidden{
        display:none;
      }
      
      .mult-select-tag .shadow{
        box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
      }
      
      .mult-select-tag .rounded{
        border-radius:.375rem
      }

      .blockedp{
        margin-right:30px ;
        color:#979797 ;

      }

      .accountsp{
        margin-right:15px ;
        color:#979797 ;
      }

      .storagep{
        padding-top: 20px;
        margin-right:15px ;
        color:#979797 ;
      }

      .storagediv{
        box-sizing: border-box;
        background: #FFFFFF;
        border: 0.5px solid #F1B31C;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 100%;
        height: 35px;

      }

      .storagediv p{
        margin-top: 8px;
        margin-right:35%; 
        font-size: 12px;
      }
    

